@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --vp-font-family-base: 'Vazirmatn', 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #1d6586 30%, #41d1ff);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #1d6586 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
}

img[src='/search.png'] {
  width: 100%;
  aspect-ratio: 1 / 1;
}

body, html, h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: var(--vp-font-family-base) !important;
}
